image: node:16.15

cache:
  paths:
    - ./node_modules/

before_script:
  - rm -rf build
  - CI=false npm install

pages:
  stage: deploy
  environment: Production
  script:
    - CI=false npm run build
    - cp build/index.html build/404.html
    - ls
    - cd ..
    - cd ..
    - mkdir public
    - ls
    - mv ./build/* public
    - export
  artifacts:
    paths: 
      - public
  only:
    refs: 
      - master
