*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}
// General
li {
  text-decoration: none;
  list-style-type: none;
}

a {
  font-size: 24px;
  text-decoration: none;
}

p,
pre {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// Specific
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  /* navbar */
  .bar {
    position: absolute;
    max-width: 12vw;
    top: 5vh;
    left: 2vw;
    .list-group-item {
      font-size: 20px;
    }
  }
  #root {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1%;
    .wrapper {
      --wrapper-width: 70vw;
      width: var(--wrapper-width);
      h1 {
        text-align: center;
      }
      .player-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        --element-width: 100%;
        --element-height: 56.25%;
        position: relative;
        width: var(--element-width);
        padding-top: var(--element-height);
        background-color: #000000;
        .react-player {
          position: absolute;
          top: 0;
          left: 0;
        }
        .btn-control {
          position: absolute;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          .material-symbols-rounded {
            font-size: 48px;
          }
        }
      }
      .player-control {
        display: none;
        // position: absolute;
        // bottom: -150px;
      }
      .rect {
        z-index: 10;
        position: absolute;
        top: 0;
      }
      .line {
        z-index: 15;
        position: absolute;
        top: 0;
      }
    }
    .wrapper-left {
      margin-top: 7%;
      visibility: hidden;
      max-width: 10vw;
      height: 70vh;
      padding: 1%;
      background-color: darkgrey;
      border-radius: 5%;
      overflow: auto;
      select {
        width: 50%;
        display: flex;
      }
      &.control {
        visibility: visible;
        display: block;
      }
      &.hide {
        display: none;
      }
    }
    .wrapper-right {
      margin-top: 7%;
      visibility: hidden;
      max-width: 10vw;
      padding: 1%;
      background-color: darkgrey;
      border-radius: 2%;
      form {
        input {
          width: 100%;
        }
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        button {
          width: 40%;
          margin-top: 5%;
          padding: 2%;
          margin-right: 2%;
          border-radius: 5%;
        }
      }

      &.control {
        visibility: visible;
        display: block;
      }
      &.hide {
        display: none;
      }
    }
    .btn-control-left {
      margin-top: 10%;
      height: 60%;
      display: block;
      &.hide {
        display: none;
      }
    }
    .btn-control-right {
      margin-top: 10%;
      height: 60%;
      display: block;
      &.hide {
        display: none;
      }
    }
  }

  .chat {
    display: flex;
    flex-direction: column;
    width: 40vw;
    ul {
      height: 70vh;
      padding-inline-start: 0px;
    }
  }
}

// Big button linked to canvas.html
.big {
  margin-top: 5px;
  width: 10vw;
  height: 10vh;
}

// new youtube ui
.video-controls-container {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  z-index: 100;
  color: white;
  .controls {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.25rem;
    align-items: center;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      padding: 0;
      height: 30px;
      width: 30px;
      font-size: 1.1rem;
      color: inherit;
      cursor: pointer;
      opacity: 0.7;
      transition: opacity 150ms ease-in-out;
      &:hover {
        opacity: 1;
      }
      .wide-btn {
        width: 2%;
      }
    }
    .switches {
      display: flex;
      justify-content: center;
      gap: 1rem;
      padding-right: 0.5rem;
      input {
        cursor: pointer;
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
    width: 100%;
    aspect-ratio: 6 / 1;
    z-index: -1;
    pointer-events: none;
  }
}

// control position
.player-wrapper.control {
  .video-controls-container {
    display: block;
    bottom: -55px;
    opacity: 1;
  }
  .btn-control {
    bottom: -105px;
  }
}

// volume
.player-wrapper[data-volume-level="high"] .volume-high-icon {
  display: block;
}
.player-wrapper[data-volume-level="low"] .volume-low-icon {
  display: block;
}
.player-wrapper[data-volume-level="muted"] .volume-muted-icon {
  display: block;
}

.volume-container {
  display: flex;
  align-items: center;
  .volume-high-icon,
  .volume-low-icon,
  .volume-muted-icon {
    display: none;
  }
  .volume-slider {
    width: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: width 150ms ease-in-out transform 150ms ease-in-out;
    &:focus-within {
      width: 100px;
      transform: scaleX(1);
    }
  }
  &:hover {
    .volume-slider {
      width: 100px;
      transform: scaleX(1);
    }
  }
}

// duration and flex-grow
.duration-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex-grow: 1;
}

// fullscreen
.player-wrapper.full-screen .open {
  display: none;
}
.player-wrapper:not(.full-screen) .close {
  display: none;
}

// timeline
.timeline-container {
  height: 7px;
  margin-inline: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  .timeline {
    background-color: rgba(255, 100, 100, 0.5);
    height: 3px;
    width: 100%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: calc(100% - var(--preview-position) * 100%);
      background-color: rgb(150, 150, 150);
      display: none;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: calc(100% - var(--progress-position) * 100%);
      background-color: red;
    }
    .thumb-indicator {
      --scale: 0;
      position: absolute;
      transform: translateX(-50%) scale(var(--scale));
      height: 200%;
      top: -50%;
      left: calc(var(--progress-position) * 100%);
      background-color: red;
      border-radius: 50%;
      transition: transform 150ms ease-in-out;
      aspect-ratio: 1/1;
    }
  }
}

.player-wrapper.scrubbing .timeline::before,
.timeline-container:hover .timeline::before {
  display: block;
}

.player-wrapper.scrubbing .thumb-indicator,
.timeline-container:hover .thumb-indicator {
  --scale: 1;
}

.player-wrapper.scrubbing .timeline,
.timeline-container:hover .timeline {
  height: 100%;
}
