*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  font-size: 24px;
  text-decoration: none;
}

p,
pre {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  /* navbar */
}
body .bar {
  position: absolute;
  max-width: 12vw;
  top: 5vh;
  left: 2vw;
}
body .bar .list-group-item {
  font-size: 20px;
}
body #root {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1%;
}
body #root .wrapper {
  --wrapper-width: 40vw;
  width: var(--wrapper-width);
}
body #root .wrapper h1 {
  text-align: center;
}
body #root .wrapper .player-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  --element-width: 56.25%;
  --element-height: 100%;
  position: relative;
  width: var(--element-width);
  padding-top: var(--element-height);
  background-color: #000000;
}
body #root .wrapper .player-wrapper .react-player {
  position: absolute;
  top: 0;
  left: 0;
}
body #root .wrapper .player-wrapper .btn-control {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
body #root .wrapper .player-wrapper .btn-control .material-symbols-rounded {
  font-size: 48px;
}
body #root .wrapper .player-control {
  display: none;
}
body #root .wrapper .rect {
  z-index: 10;
  position: absolute;
  top: 0;
}
body #root .wrapper .line {
  z-index: 15;
  position: absolute;
  top: 0;
}
body #root .wrapper-left {
  margin-top: 7%;
  visibility: hidden;
  max-width: 10vw;
  height: 70vh;
  padding: 1%;
  background-color: darkgrey;
  border-radius: 5%;
  overflow: auto;
}
body #root .wrapper-left select {
  width: 50%;
  display: flex;
}
body #root .wrapper-left.control {
  visibility: visible;
  display: block;
}
body #root .wrapper-left.hide {
  display: none;
}
body #root .wrapper-right {
  margin-top: 7%;
  visibility: hidden;
  max-width: 10vw;
  padding: 1%;
  background-color: darkgrey;
  border-radius: 2%;
}
body #root .wrapper-right form input {
  width: 100%;
}
body #root .wrapper-right .buttons {
  display: flex;
  justify-content: space-between;
}
body #root .wrapper-right .buttons button {
  width: 40%;
  margin-top: 5%;
  padding: 2%;
  margin-right: 2%;
  border-radius: 5%;
}
body #root .wrapper-right.control {
  visibility: visible;
  display: block;
}
body #root .wrapper-right.hide {
  display: none;
}
body #root .btn-control-left {
  margin-top: 10%;
  height: 60%;
  display: block;
}
body #root .btn-control-left.hide {
  display: none;
}
body #root .btn-control-right {
  margin-top: 10%;
  height: 60%;
  display: block;
}
body #root .btn-control-right.hide {
  display: none;
}
body .chat {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
body .chat ul {
  height: 70vh;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.big {
  margin-top: 5px;
  width: 10vw;
  height: 10vh;
}

.video-controls-container {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  z-index: 100;
  color: white;
}
.video-controls-container .controls {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.25rem;
  align-items: center;
}
.video-controls-container .controls button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  padding: 0;
  height: 30px;
  width: 30px;
  font-size: 1.1rem;
  color: inherit;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
.video-controls-container .controls button:hover {
  opacity: 1;
}
.video-controls-container .controls button .wide-btn {
  width: 2%;
}
.video-controls-container .controls .switches {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-right: 0.5rem;
}
.video-controls-container .controls .switches input {
  cursor: pointer;
}
.video-controls-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
  width: 100%;
  aspect-ratio: 6/1;
  z-index: -1;
  pointer-events: none;
}

.player-wrapper.control .video-controls-container {
  display: block;
  bottom: -55px;
  opacity: 1;
}
.player-wrapper.control .btn-control {
  bottom: -105px;
}

.player-wrapper[data-volume-level=high] .volume-high-icon {
  display: block;
}

.player-wrapper[data-volume-level=low] .volume-low-icon {
  display: block;
}

.player-wrapper[data-volume-level=muted] .volume-muted-icon {
  display: block;
}

.volume-container {
  display: flex;
  align-items: center;
}
.volume-container .volume-high-icon,
.volume-container .volume-low-icon,
.volume-container .volume-muted-icon {
  display: none;
}
.volume-container .volume-slider {
  width: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: width 150ms ease-in-out transform 150ms ease-in-out;
}
.volume-container .volume-slider:focus-within {
  width: 100px;
  transform: scaleX(1);
}
.volume-container:hover .volume-slider {
  width: 100px;
  transform: scaleX(1);
}

.duration-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex-grow: 1;
}

.player-wrapper.full-screen .open {
  display: none;
}

.player-wrapper:not(.full-screen) .close {
  display: none;
}

.timeline-container {
  height: 7px;
  margin-inline: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.timeline-container .timeline {
  background-color: rgba(255, 100, 100, 0.5);
  height: 3px;
  width: 100%;
  position: relative;
}
.timeline-container .timeline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--preview-position) * 100%);
  background-color: rgb(150, 150, 150);
  display: none;
}
.timeline-container .timeline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--progress-position) * 100%);
  background-color: red;
}
.timeline-container .timeline .thumb-indicator {
  --scale: 0;
  position: absolute;
  transform: translateX(-50%) scale(var(--scale));
  height: 200%;
  top: -50%;
  left: calc(var(--progress-position) * 100%);
  background-color: red;
  border-radius: 50%;
  transition: transform 150ms ease-in-out;
  aspect-ratio: 1/1;
}

.player-wrapper.scrubbing .timeline::before,
.timeline-container:hover .timeline::before {
  display: block;
}

.player-wrapper.scrubbing .thumb-indicator,
.timeline-container:hover .thumb-indicator {
  --scale: 1;
}

.player-wrapper.scrubbing .timeline,
.timeline-container:hover .timeline {
  height: 100%;
}/*# sourceMappingURL=style.css.map */