*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

img{
  max-width: 100%;
  height: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  justify-content: center;
}
.wrapper{
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.rect{
  z-index: 2;
  position: absolute;
  top: 0;
}

.wrapper-right{
  position: absolute;
  left: 80vw;
  top: 5vw;
}
/* trying controls over video */
.controls {
  z-index: 10;
}

button, select, input {
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 4px;
  margin-top: 5px;
  border: 1px solid black;
}

#videoURL{
  width: 30vw;
}
/* navbar */
.bar{
  position: absolute;
  width: 10vw;
  top: 20px;
  left: 20px;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.chat>ul{
  height: 70vh;
  padding-inline-start: 0px;
}
li{
  text-decoration: none;
  list-style-type: none;
}

.big{
  margin-top: 5px;
  width: 10vw;
  height: 10vh;
}
a{
 font-size: 24px;
  text-decoration: none;
}